# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from googleapi import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [43]:

file_path = os.path.join("City_Weather_Output.csv")
cities = pd.read_csv(file_path)
cities.head()

,Unnamed: 0,long,lat,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Date
0,0,10.781778,73.720745,barentsburg,sj,51.80,76.0,87.0,4.47,1.600052e+09
1,1,58.102896,-87.219568,east london,za,59.00,67.0,3.0,19.46,1.600099e+09
2,2,-99.318010,-80.038423,punta arenas,cl,46.40,61.0,20.0,40.26,1.600099e+09
3,3,176.342260,-10.508928,asau,tv,70.00,71.0,2.0,4.16,1.600100e+09
4,4,66.378518,42.581710,zhanakorgan,kz,72.48,23.0,0.0,10.98,1.600100e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [44]:
# Access maps with unique API key  ???
#gmaps.configure(googleapi=gkey)

In [58]:
locations = cities[['lat','long']]
# switched lat and long, so that lat was on the left, per google api direction  <-- this will be my mapping dataframe.
#locations
weight = cities['Humidity']

In [59]:
### from gmaps example:   <--- didn't need this, ha. 

# this created the base map, storing the figure in a variable so we can continue to add layers to the same map
# fig = gmaps.figure()

# # display the figure
# fig

In [60]:
# Create a marker layer using our coordinates   <--- didn't need this, either. 
# markers = gmaps.marker_layer(locations)

# # Add the layer to the map
# fig.add_layer(markers)

# # display the figure with the newly added layer
# fig

### However, this is my whole initial dataframe "cities", that I created for weatherpy. 
### I filter the data for a desired vacation destination below:

In [61]:
### more stuff from gmaps example

In [93]:
# Dictionary of style settings for the map   <--- these were settings from class. 
figure_layout = {
    'width': '900px',
    'height': '400px',
    'border': '3px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# create a new figure using the custom styles above
cust_fig = gmaps.figure(layout=figure_layout)

# Add the marker layer using the coordinates
#cust_fig.add_layer(gmaps.marker_layer(locations))  <--- taking the markers off this chart for better viewing of heatmap

# Add the heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weights = weight, dissipating = False)
cust_fig.add_layer(heatmap_layer)

# Display the figure
cust_fig




# ### airport example from class

# # data to be used for the plotting coordinates
# locations = airport_df[["Lat","Lng"]]
# # data to be used to weight the heatmap
# rating = airport_df["Airport Rating"]


# # create the mapping figure
# fig = gmaps.figure()

# # create the heatmap layer
# heat_layer = gmaps.heatmap_layer(locations, weights=rating)

# # add the heatmap layer to the figure
# fig.add_layer(heat_layer)

# # display the figure
# fig

Figure(layout=FigureLayout(border='3px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [94]:
desired_cities1 = cities.loc[cities['Temperature']>=70]
#desired_cities1

In [95]:
desired_cities2 = desired_cities1.loc[desired_cities1['Temperature']<=80]
#desired_cities2

In [96]:
desired_cities3 = desired_cities2.loc[desired_cities2['Cloudiness']==0]
#desired_cities3

In [100]:
desired_cities4 = desired_cities3.loc[desired_cities3['Wind Speed']<10]
desired_cities4


## This is my final list of cities that I will use for Google Maps
## Visually this is a good dataset and I do not need to drop any null values, but for good measure:

desired_cities = desired_cities4.dropna()
desired_cities

,Unnamed: 0,long,lat,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Date
71,87,50.324436,41.034215,buzovna,az,75.20,73.0,0.0,6.93,1.600099e+09
201,325,116.085519,58.186676,kropotkin,ru,75.79,25.0,0.0,5.79,1.600099e+09
211,345,113.130853,-17.198300,karratha,au,77.00,39.0,0.0,9.64,1.600099e+09
216,357,-59.433898,11.179037,scarborough,tt,75.99,66.0,0.0,1.99,1.600099e+09
271,479,105.008520,-6.287096,labuhan,id,78.84,73.0,0.0,6.17,1.600099e+09
281,509,173.861703,66.339221,komsomolskiy,ru,73.40,46.0,0.0,4.70,1.600099e+09
325,630,58.161870,39.850853,baherden,tm,77.16,28.0,0.0,1.07,1.600099e+09
330,643,5.502006,37.314644,timizart,dz,79.72,49.0,0.0,9.69,1.600099e+09
347,677,175.903942,-48.443390,lincoln,nz,71.01,77.0,0.0,1.99,1.600099e+09
348,682,38.516382,45.466434,staronizhestebliyevskaya,ru,78.80,44.0,0.0,4.47,1.600099e+09
415,858,-122.813299,23.670162,san quintin,mx,78.66,50.0,0.0,5.64,1.600099e+09
416,864,-2.048419,50.097922,poole,gb,78.80,41.0,0.0,9.17,1.600099e+09
427,896,35.830556,-36.895267,margate,za,77.00,59.0,0.0,4.00,1.600099e+09
441,931,156.504938,-6.716627,buin,pg,70.00,22.0,0.0,3.49,1.600099e+09
470,1007,34.027180,44.860622,poshtove,ua,71.06,37.0,0.0,4.25,1.600099e+09
474,1028,117.734733,-23.221525,roebourne,au,77.70,42.0,0.0,8.03,1.600099e+09
505,1115,4.374981,53.510596,den helder,nl,78.01,73.0,0.0,6.93,1.600099e+09
560,1279,67.166677,61.641323,oktyabrskoye,ru,73.40,60.0,0.0,2.24,1.600099e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [105]:
hotel_df['Hotel Name']= ''
hotel_df['Lat']=desired_cities4['lat']
hotel_df['Lng']=desired_cities4['long']
hotel_df['City']=desired_cities['City']
hotel_df['Country']=desired_cities['Country']
hotel_df

## I changed Long to Lng because it looks like there is some code below that will utilize this.

,Hotel Name,lat,Lat,Long,City,Country,Lng
71,,41.034215,41.034215,50.324436,buzovna,az,50.324436
201,,58.186676,58.186676,116.085519,kropotkin,ru,116.085519
211,,-17.198300,-17.198300,113.130853,karratha,au,113.130853
216,,11.179037,11.179037,-59.433898,scarborough,tt,-59.433898
271,,-6.287096,-6.287096,105.008520,labuhan,id,105.008520
281,,66.339221,66.339221,173.861703,komsomolskiy,ru,173.861703
325,,39.850853,39.850853,58.161870,baherden,tm,58.161870
330,,37.314644,37.314644,5.502006,timizart,dz,5.502006
347,,-48.443390,-48.443390,175.903942,lincoln,nz,175.903942
348,,45.466434,45.466434,38.516382,staronizhestebliyevskaya,ru,38.516382
415,,23.670162,23.670162,-122.813299,san quintin,mx,-122.813299
416,,50.097922,50.097922,-2.048419,poole,gb,-2.048419
427,,-36.895267,-36.895267,35.830556,margate,za,35.830556
441,,-6.716627,-6.716627,156.504938,buin,pg,156.504938
470,,44.860622,44.860622,34.027180,poshtove,ua,34.027180
474,,-23.221525,-23.221525,117.734733,roebourne,au,117.734733
505,,53.510596,53.510596,4.374981,den helder,nl,4.374981
560,,61.641323,61.641323,67.166677,oktyabrskoye,ru,67.166677

In [80]:
### Why is there an extra lat column??

In [81]:
### from google places example in class

# # establish initial variables
# target_type = "bicycle_store"
# seattle_coords = "47.6062095,-122.3320708"
# radius = 4000

# # create a dictionary to contain all URL parameters
# params = {
#     "location": seattle_coords,
#     "types": target_type,
#     "radius": radius,
# #     "rankby": "distance",
#     "key": gkey
# }

# # Build URL using the Google Places API
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# print("Drill #3: A Bike Store in Seattle, WA")

# # Execute request
# response = requests.get(base_url, params)

# # print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
# # print(response.url)

# # Convert the response to json
# seattle_bikes = response.json()

# # Print the json (pretty printed)
# # pprint(seattle_bikes)

# # Print the name and address of the first bike shop to appear
# print(seattle_bikes["results"][0]["name"])
# print(seattle_bikes["results"][0]["vicinity"])

In [104]:

# geocoordinates for the base of our search
target_location = hotel_df['lat','long'] ## in here will be fed my locations from desired_cities
target_type = "hotel"
target_radius = 5000
# in meters

params = {
    "location": target_location,
    "types": target_type,
    "radius": target_radius,
#     "rankby": "distance",
    "key": gkey
}

### I need to loop all this stuff somehow, -- utilizing loop from weatherpy,
### from the above example psuedo code posted above:

# for index, row in cities.iterrows():
    
#     city = row['City']
#     response = requests.get(query + city).json()

#     try:
        ### some stuff
#     except:
#         print("No data, skipping...")  
 
for index,row in hotel_df.iterrows():
    
#     Lat = row['Lat']
#     Lng = row['Lng']
    
# Build URL using the Google Places API
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Execute request
    response = requests.get(base_url, params)

# Convert the response to json
    vaca_hotels = response.json()

# Print the names of the hotels, I will need to get these into the dataframe
    try:
        hotel_df.loc[index, 'Hotel Name']

hotel_df

KeyError: ('lat', 'long')

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure